* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(174, 237, 174);
}

#panel {
  overflow: hidden;
  width: 80%;
  height: 85%;
  background-color: #fff;
  border-radius: 10px;
}

#ptop {
  padding: 0 30%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: rgb(48, 77, 48);
}

.elem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.elem h2 {
  font-weight: 200;
  font-size: 22px;
}
.box {
  color: rgb(116, 207, 116);
  background-color: #fff;
  font-weight: 700;
  font-size: 22px;
  border-radius: 5px;
  padding: 10px 20px;
}

#pbtm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: calc(100%-100px);
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(116, 207, 116);
  color: #fff;
  font-weight: 500;
}

.bubble:hover {
  cursor: pointer;
  background-color: rgb(48, 77, 48);
}
